{% extends "base.html" %}
{% load static %}
{% block main_content %}
<article>
    <div id="my-pic-container">
        <h1>
            Hello, I'm<br>
            Vadym Melnychenko
        </h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. A soluta corporis beatae, aliquid at, accusamus
            incidunt illo tenetur perspiciatis deserunt quam itaque dolorem rem nostrum.
        </p>
        <div id="emphty">
        </div>
        <h2>A BRIEF STORY ABOUT ME</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum sed veniam aspernatur ad odit ipsa nihil qui officia nobis, assumenda facilis blanditiis placeat, perspiciatis illum rem esse dolorem est neque inventore harum corporis cumque voluptatum minima. Similique quia nisi dignissimos quos laborum voluptates temporibus tenetur ipsa rerum dolore harum at, ab error, veniam. Magni, ipsa!</p>
    </div>
    <hr>
</article>
{% endblock %}