{% extends "base.html" %}

{% block main_content %}
<article class="contact-us-form-wraper">
					<form action="#" method="POST">
						<h4>Contact us:</h4>
						<div class="contact-form">
							<div>
								<div style="margin-right: 10px;">
									<label>Your name:</label>
									<input type="text" name="first_name" placeholder="Enter your name here">
								</div>
								<p></p>
								<div>
									<label>Your email:</label>
									<input type="email" name="email" placeholder="Enter your email here">
								</div>
							</div>
							<div>
								<div>
									<label>Your question:</label>
									<textarea name="user_request" placeholder="Please type your request here" rows="6"></textarea>
								</div>
							</div>
						</div>
					</form>
				</article>
{% endblock %}